# SMTP Configuration
SMTP_HOST=mail.jmdevmente.com
SMTP_USERNAME=jcmonter_envios@jmdevmente.com
SMTP_PASSWORD=your_password_here
SMTP_PORT=465
SMTP_FROM=jcmonter_envios@jmdevmente.com
SMTP_FROM_NAME=JMontero Freelance
SMTP_ADDRESS=johan00712@gmail.com
